
@reference"tailwindcss";
.title {
  position: relative;
  @apply text-3xl md:text-6xl font-bold max-w-4xl leading-tight tracking-tight mb-8;
}

.animatedText {
    @apply font-[montserrat] leading-tight tracking-tight;
   
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  
background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* --- ADD THIS LINE --- */
  background-size: 200% 100%;

  animation: light-trace 3s linear infinite;
}

@keyframes light-trace {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}